<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page-title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1100">
    <link href="{{{stylesheet}}}" rel="stylesheet" />
  </head>
  <body>
    <script src="/files/oneko/oneko.js"></script>
    <div id="container">
      <div id="headerArea">
        <div id="header" style="display: flex;">
          {{{header-html}}}
        </div>
        <nav id="navbar" style="margin-bottom: 10px">
          <ul>
            {{#navbar}}
              <li>
                <a href="{{href}}">{{label}}</a>
              </li>
            {{/navbar}}
          </ul>
        </nav>
      </div>

      <div id="flex">
        <main>
          <!-- <img src="{{{tracker}}}"> -->
          {{{main}}}
        </main>
        <aside id="rightSidebar" style="margin-left: 10px">
          {{#sidebar-section}}
            <h2>{{{title}}}</h2>
            <ul>
              {{#links}}
                <li>
                  <a href="{{{href}}}" target="{{{target}}}">{{{label}}}</a>
                </li>
                {{{nested}}}
              {{/links}}
            </ul>
          {{/sidebar-section}}
          {{{sidebar-content-down}}}
        </aside>
      </div>
      <footer id="footer" style="margin-top: 10px">{{{footer}}}</footer>
    </div>
    <div id="container" style="justify-content: center; align-items: center; display: flex; margin-top: 10px; flex-wrap: wrap; max-width: 900px;">
      {{#buttons}}
        {{#href}}
          <a href="{{{href}}}"><img src="{{{imgsrc}}}" width="{{{width}}}" height="{{{height}}}"/></a>
        {{/href}}
        {{^href}}
          <img src="{{{imgsrc}}}" width="{{{width}}}" height="{{{height}}}"/>
        {{/href}}
      {{/buttons}}
      {{{buttons_container_html}}}
    </div>
  </body>
</html>
