<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page-title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1100">
    <link href="/css/terry-tribute.css" rel="stylesheet" />
  </head>
  <body>
    <div id="container">
      <div id="flex" style="justify-content: center; margin-top: 50px;">
        <aside id="leftSidebar" style="margin-right: 10px">
          <div style="margin-bottom: -5px;"><img src="/files/images/terry-tribute/ionic_column_fire.gif" alt="" class="columnTop"></div>
          <div><img src="/files/images/terry-tribute/ionic_column_middle.png" alt="" class="columnMiddle"></div>
        </aside>

        <aside id="leftSidebar">
          <div><img src="/files/images/terry-tribute/wb_side.png" alt="" class="mainBorderSideImg"></div>
        </aside>

        <main>
          <p style="margin-top: -16px;margin-left: -16px;margin-right: -16px;">
            <img src="/files/images/terry-tribute/wb_corner_top_left.png" alt="" style="width: 16px;height: 16px;image-rendering: pixelated;">
            <img src="/files/images/terry-tribute/wb_top.png" alt="" style="width: 808px;height: 16px;image-rendering: pixelated;margin-left: -9px;margin-right: -9px;">
            <img src="/files/images/terry-tribute/wb_corner_top_right.png" alt="" style="width: 16px;height: 16px;image-rendering: pixelated;">
          </p>
          <!-- <p class="bottomWb"> -->
          <!--   <img src="/files/images/terry-tribute/wb_corner_top_left.png" alt="" style="width: 16px;height: 16px;image-rendering: pixelated;"> -->
          <!--   <img src="/files/images/terry-tribute/wb_top.png" alt="" style="width: 808px;height: 16px;image-rendering: pixelated;margin-left: -9px;margin-right: -9px;"> -->
          <!--   <img src="/files/images/terry-tribute/wb_corner_top_right.png" alt="" style="width: 16px;height: 16px;image-rendering: pixelated;"> -->
          <!-- </p> -->
          <img src="{{{tracker}}}">
          {{{main}}}
        </main>

        <aside id="rightSidebar">
          <div><img src="/files/images/terry-tribute/wb_side.png" alt="" class="mainBorderSideImg"></div>
        </aside>

        <aside id="rightSidebar" style="margin-left: 10px">
          <div style="margin-bottom: -5px;"><img src="/files/images/terry-tribute/ionic_column_fire.gif" alt="" class="columnTop"></div>
          <div><img src="/files/images/terry-tribute/ionic_column_middle.png" alt="" class="columnMiddle"></div>
        </aside>
      </div>
      <!-- <footer id="footer" style="margin-top: 10px">{{{footer}}}</footer> -->
    </div>
    <!-- <div id="container" style="justify-content: center; align-items: center; display: flex; margin-top: 10px; flex-wrap: wrap; max-width: 900px;"> -->
    <!--   {{#buttons}} -->
    <!--     {{#href}} -->
    <!--       <a href="{{{href}}}"><img src="{{{imgsrc}}}" width="{{{width}}}" height="{{{height}}}"/></a> -->
    <!--     {{/href}} -->
    <!--     {{^href}} -->
    <!--       <img src="{{{imgsrc}}}" width="{{{width}}}" height="{{{height}}}"/> -->
    <!--     {{/href}} -->
    <!--   {{/buttons}} -->
    <!--   {{{buttons_container_html}}} -->
    <!-- </div> -->
  </body>
</html>
