<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{page-title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1100">
    <link href="/css/terry-tribute-absolute.css" rel="stylesheet" />
  </head>

  <body>

    <div class="container">
      <img src="/files/images/terry-tribute/ionic_column_fire.gif" alt="" class="column top left">
      <img src="/files/images/terry-tribute/ionic_column_middle.png" alt="" class="column middle left">

        <main>
          
        </main>

      <img src="/files/images/terry-tribute/ionic_column_fire.gif" alt="" class="column top right">
      <img src="/files/images/terry-tribute/ionic_column_middle.png" alt="" class="column middle right">
    </div>

  </body>
</html>
